html
  head
    title= title     
  body
    h1= message
    ol
      li Given author name A, list all of her co-authors.
        form Input an author name: 
          input(type='text' id='coauthor.name' value='Nathan Goodman')
          button(onclick="coauthor(); return false;" ) Submit
          pre(id="coauthor.json")
      li Given an exact paper name, list its publication details.
        form Input a paper title: 
          input(type='text' id='detail.title' value='Pattern Matching in Trees and Nets.')
          button(onclick="detail(); return false;" ) Submit
          pre(id="detail.json")
      li Given an author name, list all of her publications and detailed publication information. Note: No need to consider authors with the same name.
        form Input an author name: 
          input(type='text' id='paperlist.name' value='Hans Ulrich Simon')
          button(onclick="paperlist(); return false;" ) Submit
          pre(id="paperlist.json")
      li Given some keywords, list all publications that contain some or all of the keywords in the paper title.
        form Input keywords: 
          input(type='text' id='keyword.name' value='database')
          button(onclick="keyword(); return false;" ) Submit
          pre(id="keyword.json")
      li Given an author name, list all of her publications and detailed publication information.
        form Input two authors' name: 
          br
          input(type='text' id='twoauthors.name1' value='Nathan Goodman')
          br
          input(type='text' id='twoauthors.name2' value='Oded Shmueli')
          br
          button(onclick="twoauthors(); return false;" ) Submit
          pre(id="twoauthors.json")
      script(src="/js/query.js")
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")


